# -----------------------------------------------------------------------------
# scheduler.env
#
# Simple fallback scheduler configuration
# -----------------------------------------------------------------------------

# Time format: HH:MM (24h)

SYSTEM_SCHEDULE=03:00
DOCKER_SCHEDULE=04:00
